body {
    background-color: #141414;
    color: lightcyan;
    font-size: larger;
}

.page {
    margin-top: 15px;
    margin-left: 260px;
}

.page a {
    color: yellow;
    text-decoration: none;
}

.page a:hover {
    color: yellow;
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 350%;
}

.content {
    margin-top: 25px;
}

.titleWithSpace {
    margin-top: 40px;
    margin-bottom: 10px;
}

.path {
    font-size: smaller;
    color: gray;
}

.path a {
    color: darkorange;
}

.path a:hover {
    color: orange;
}

hr {
    border: 0.5px solid #2e2e2e;
}